.blocs-annexes {
    padding-top : 50px;
    padding-bottom: 30px;
}

.blocs-annexes a {
    text-decoration: none;
    color : white;
}

.blocs-annexes a:hover {
    opacity: .7;
}

.blocs-annexes-titre {
    color : white;
    font-size : 20px;
    font-weight: bold;
}

.blocs-annexes-photos {
    width : 100%;
    height : 100%;

    border-radius : 5px;
}

.blocs-annexes-annonces {
    max-width: 400px;

    position: relative;
    text-align: center;
    color: white;
}

.blocs-annexes-annonces-texte {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.blocs-annexes-annonces-texte-titre {
    font-size: 20px;

    text-shadow: 0 0 15px rgb(0, 0, 0); /* Firefox 3.5+, Opera 9+, Safari 1+, Chrome, IE10 */
}

.blocs-annexes-annonces-texte-description {
    text-shadow: 0 0 15px rgb(0, 0, 0);
}

@media (max-width:1200px) {
    .blocs-annexes-annonces-texte-titre {
        font-size: 18px;
    }
    
    .blocs-annexes-annonces-texte-description {
        font-size: 14px;
    }
}

@media (max-width:1050px) {
    .blocs-annexes-annonces-texte-titre {
        font-size: 16px;
    }
    
    .blocs-annexes-annonces-texte-description {
        font-size: 12px;
    }
}

@media (max-width:900px) {
    .blocs-annexes-annonces-texte-titre {
        font-size: 14px;
    }
    
    .blocs-annexes-annonces-texte-description {
        font-size: 10px;
    }
}

@media (max-width:767px) {
    .blocs-annexes-annonces-texte-titre {
        font-size: 24px;
    }
    
    .blocs-annexes-annonces-texte-description {
        font-size: 22px;
    }
}

@media (max-width:511px) {
    .blocs-annexes-annonces-texte-titre {
        font-size: 18px;
    }
    
    .blocs-annexes-annonces-texte-description {
        font-size: 16px;
    }
}