.container-publipost {
    background-color: white;

    margin-top : 3%;
    padding-top : 50px;
    padding-bottom: 50px;

    border-radius: 5px 5px 5px 5px;

    min-height : 600px;
}

.img-preview {
    width : 256px;
    height: auto;

    min-width: 256px;
    min-height: 128px;

    border : solid 1px grey;
    border-radius: 3px;
}

.managementpost-bloc-photo {
    background-color: #ecf0f1;
    border : solid grey 1px;
    border-radius: 3px;

    padding-top: 20px;
    margin-top : 9%;

    height: 240px;
}

#uploadPreviewManagement {
    width : 256px;
    height : 140px;
}
