.navbar a {
    margin-left : 2px;
}

.navbar {
    background-color: #ecf0f186;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: bold;

    color: #222f3e;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:hover .nav-link {
    font-weight: bold;

    color: #222f3e;
}

.btn-search {
    background-color: #ecf0f1;
    border-radius: 0px 20px 20px 0px;
}

#btn-connect{
    float : right;
}

#search-bar {
    background-color: #ecf0f1;
    border-radius: 20px 0px 0px 20px;
}

#logo-text {
    font-size: 26px;
    font-weight: bold;

    color: #222f3e;
}

.dropdown-custom {
    padding : 10px 10px;
}

.dropdown-custom input {
    padding : 5px 10px;
    margin-bottom: 10px;

    border-radius: 5px 5px 5px 5px;
    border : none;

    background-color:#ecf0f1; 
}

.navbar-user {
    float: none;
    margin: 0 auto;
}

#navbarAvatar {
    width : 48px;
    height : 48px;

    margin-right: 10px;

    border-radius : 100%;
}

@media screen and (max-width: 1200px) {
    #navbarAvatar {
        width: 32px;
        height: 32px;

        float: none;
        margin-left: 8px;
        padding-right: 0px;
    }   
}

@media screen and (max-width: 991px) {
    #navbarAvatar {
        width : 48px;
        height : 48px;

        margin-left: 0px;
    }   
}