.navbar {
    max-height: 70px;

    font-weight: bold;
}

@media (max-width:990px){
    .navbar {
        max-height: none;
    }
}

.logo {
    width : 300px;
    height : auto;
}

.logoLien {
    margin-left: auto;
}

#navbarAvatar {
    width : 52px;
    height: auto;

    border-radius: 100%;
}

.btn-publier {
    font-weight: bold;
    color : white;
}