.container-publipost {
    background-color: white;

    margin-top : 3%;
    padding-top : 50px;
    padding-bottom: 50px;

    border-radius: 5px 5px 5px 5px;

    min-height : 600px;
}

.img-preview {
    width : 256px;
    height: auto;

    min-width: 256px;
    min-height: 128px;

    border : solid 1px grey;
    border-radius: 3px;
}