body {
    background-color: #e56139;
    /*
    background-image: url("../img/pink2.jpeg");
    background-size: cover;
    */
    padding-top : 70px;
}

.corps {
    background-image: linear-gradient(#e56139, #fad390);
    background-size: cover;
}

.corpsOverlay {
    /*
    background-image : url("../img/black8.png");
    */
}


.logo {
    width: 48px;
}

.logo-text {
    font-size: 26px;
    font-weight: bold; 
    color: #542d6e7c;
}

.lien-navbar {
}

.bloc-nav {
    margin-top: 10px;
}

.navbar a {
    margin-left : 2px;
}

#search-bar {
    border-radius: 20px 0px 0px 20px;
    background-color: #ecf0f1;
}

#search-bar:focus {
}

#form-search {
    
}

.dropdown-autre {
}

.btn-search {
    background-color: #ecf0f1;
    border-radius: 0px 20px 20px 0px;
}

.a {
    height: auto;

    /*border: solid blue;*/
}

.box {
    height: auto;

    background-color: #ecf0f186;
    border-radius: 5px 5px 5px 5px;
}

.b {
    /*border: solid purple;*/

    border-radius: 5px 5px 5px 5px;
}

nav {
}

.navbar-dark {
    background-color: #ecf0f186;
}

.navbar-dark .navbar-nav .nav-link {
    color: #222f3e;
    font-weight: bold;
}

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:hover .nav-link {
    color: #222f3e;
    font-weight: bold;
}

.img-annonce {
    width: 150px;
    height: 150px;

    float : left;

    margin : 30px 20px;

    border-radius: 5px 5px 5px 5px;

    background-image: url("../img/backgroundsm.jpg");
    background-position: center;
}


@media screen and (max-width: 1024px) {
    .col-centered{
        float: none;
        margin: 0 auto;
        margin-top : 30px;
    }
    
}

/*
@media screen and (max-width: 640px) {
.img-annonce {
    margin-left: 8px;
}

.bloc h1 {
    text-align: center;
}
}

@media screen and (max-width: 480px) {
.img-annonce {
    margin-left: 50px;
}

.bloc h1 {
    text-align: center;
}
}
*/

.img-annonce-sm {
    width: 48px;
    height: 48px;

    float : left;

    margin : 10px 5px;

    border-radius: 5px 5px 5px 5px;
}

.test {
    max-width: 400px;
    float : right;
}

.test-sm {
    max-width: 300px;
    float : right;

    font-size: 10px;

    text-align: justify;

    margin: 0px 5px;
}

.test-sm h1 {
    margin: 10px 5px;
    font-size: 18px;
}

.test-sm p {
    margin: 0px 5px;

    
}

h1 {
    color: #222f3e;
    margin-top : 10px;
    font-size: 18px;
    display: inline-block;
}

h1:hover {
    text-decoration: underline;
}

p {
    color: #222f3e;
    font-size: 16px;
}

.b p {
    color: #222f3e;
}

.bloc {
    padding: 10px 10px 10px 10px;
    text-align: justify;
    
    background-color: #ecf0f186;
}

#titreBlocMeilleur {
    margin : 10px -10px 0px 0px;
    margin-left: -10px;

    color: #222f3e;
}

#futurDropdown {
    margin-left: -10px;
    color:#e56139;
}

#titreBlocDerniersConsultes {
    margin : 10px -10px 0px 0px;
    margin-left: -10px;

    color: #222f3e;
}

.btn-custom {
    background-color: #e56139;
    color: #ecf0f1;

    margin-left: 10px;
}

.btn-custom:hover {
    opacity: .7;
}

.vote {
    width: 32px;
    height: 32px;

    margin-top : 15px;
}

.voteButtons {
    float: left;
    width : 50px;
}

.plus {
    margin-top: 70px;
}

.vote:hover {
    opacity: .6;
}

.lieu {
    border-color: rgb(120, 43, 175);
    border-radius : 5px 5px 5px 5px;
    color: #222f3e;
    padding : 10px 10px 10px 10px;
    
    font-weight: bold;
    display: inline-block;
    float : right;
}