body {
    /*
    background: linear-gradient(#e56139, #fad390);
    background-size: cover;
    */
    background-image: url("../img/background4filtre.jpg");
    background-repeat: no-repeat;
    padding-top : 70px;
    padding-bottom: 70px;
}

.accueil {
    height: 1000px;
}

.annonce {
    background-color: #ecf0f1c7;

    padding : 20px 20px;

    border-radius: 5px 5px 5px 5px;
}

.annonce a {
    color : black;
}

.annonce a:hover {
    text-decoration: underline;
}

.corpsAnnonce {
    max-width: 400px;
    float : right;
}

.corpsAnnonce i {
    font-size : 24px;
}

.img-annonce {
    width: 150px;
    height: 150px;

    float : left;

    margin : 30px 20px;

    border-radius: 5px 5px 5px 5px;

    background-image: url("../img/backgroundsm.jpg");
    background-position: center;
}


@media screen and (max-width: 1024px) {
    .col-centered {
        float: none;
        margin: 0 auto;
        margin-top : 30px;
    } 
}

.corpsAnnonce h1 {
    display: inline-block;

    margin-top : 30px;

    font-size: 18px;
}

.corpsAnnonce p {
    color: #222f3e;
    font-size: 16px;
    text-align: justify;
}

.btn-custom {
    margin-left: 10px;
}

.btn-custom:hover {
    opacity: .7;
}

.vote {
    margin-top : 15px;
}

.voteButtons {
    float: left;
    width : 50px;
}

.plus {
    margin-top: 70px;
}

.vote:hover {
    opacity: .6;
}