body {
    background-color: #ecf0f1;
    padding-top: 70px;
}

ul {
    list-style-type: none;
    margin : 0;
    padding : 0;
}

.btn-warning {
    background-color: #f6b93b;
}

.line-autocomplete {
    width : 46.3%;
}

.accueil {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    padding-top : 70px;

}

.titreEtRecherche {
    margin-top : 12%;

    color : white;
}

.titreEtRecherche i {
    color: white;
    font-weight: bold;
}

.accueil h1 {
    font-weight: bold;
    font-size: 64px;

    text-shadow: 2px 4px 6px rgb(73, 73, 73);
}

.phraseAccueil {
    color : white;
    font-size : 26px;
    font-weight: bold;

    text-shadow: 2px 4px 6px rgb(73, 73, 73);
}

.nextBottom {
    width: 64px;
    height: 64px;
}

.decouvrir {
    margin-top : 12%;
}

.bloc-principal {
    min-height: 400px;

    background-color: #ecf0f1;
}

.annonce {
    background-color: white;
    border : solid grey 1px;
    border-radius: 3px;

    padding-top: 20px;
    padding-bottom: 20px;
}

.annonce-corps {
    margin-top: 2%;
}

.annonce-corps-titre {
    font-size: 28px;
    font-weight: bold;
}

.annonce-corps-titre a {
    text-decoration: none;
    color: black;
}

.annonce-corps-titre a:hover {
    opacity: .7;
}

.votes-img {
    width: 32px;
}

.annonce-col {
    max-width: 384px;
    max-height: 240px;
}

.annonce-col-img {
    width : 100%;
    
    max-width: 384px;
    max-height: 240px;
}

.annonce-corps-btn {
    color: white;
    font-weight: bold;
}

#annonce-corps-infos {
    margin-left : 4%;
}

@media (max-width:1200px) {
    #annonce-corps-infos {
        margin-left : 0%;
        display: block;
    }

    .annonce-corps {
        margin-top: 0%;
    }
}

@media (max-width:767px) {
    .annonce-corps {
        margin-top: 4%;
    }
}

#searchInput {
    border-radius : 5px 0px 0px 5px;
}

.ui-helper-hidden-accessible { position: absolute; left: -9999px; }
